.continer {
    padding-top: 22vh;
    display: flex;
}

.filter {
    padding-top: 2vh;
}

.p-button {
    background-color: #b7a27a !important;
    border-color: #b7a27a !important;
    color: #ffffff !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}

.product-card {
    position: relative;
    background: #f3f3f3;
    border-radius: 4px;
    padding: 22px 18px 18px;
    max-width: 330px;
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    transition: 0.2s ease;
}

.product-card:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

/* ===== Discount Circle ===== */
.discount-badge {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 65px;
    height: 65px;
    background: #b7a27a;
    color: #fff;
    border-radius: 50%;
    font-size: 13px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
}

/* ===== Heart ===== */
.favorite-btn {
    position: absolute;
    bottom: 135px;
    left: 18px;
    background: none;
    border: none;
    font-size: 22px;
    color: #c10000;
    cursor: pointer;
    transition: 0.2s;
}

.favorite-btn:hover {
    transform: scale(1.1);
}

/* ===== Image ===== */
.product-image {
    text-align: center;
    margin-top: 25px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* ===== Title ===== */
.product-title {
    margin-top: 18px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    min-height: 48px;
}

/* ===== Price ===== */
.price-wrapper {
    margin-top: 10px;
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.old-price {
    text-decoration: line-through;
    color: #a0a0a0;
    font-size: 14px;
}

.new-price {
    font-size: 22px;
    font-weight: 800;
    color: #111;
}

/* ===== Buttons ===== */
.buttons {
    display: flex;
    margin-top: 18px;
    border: 1px solid #6e5f41;
}

.add-to-cart {
    flex: 1;
    background-color: #b7a27a !important;
    border: 1px solid #b7a27a !important;
    color: #ffffff !important;
    padding: 12px 0;
    font-weight: 700;
    cursor: pointer;
    border-left: 1px solid rgba(0,0,0,0.08) !important;
    border-radius: 3px !important;
}

.buy-now {
    flex: 1;
    background-color: #b7a27a !important;
    border: 1px solid #b7a27a !important;
    color: #ffffff !important;
    padding: 12px 0;
    font-weight: 700;
    cursor: pointer;
    border-radius: 3px !important;
}

.add-to-cart:hover,
.buy-now:hover {
    filter: brightness(0.95);
}

.product-card {
  background: red !important;
}

.btn{
    width: 60%;
    height: 60%;
    background-color: #b7a27a !important;
    color: white !important;
}
