.basket p-card {
  margin-bottom: 1rem;
}

.basket .actions {
  display: flex;
  gap: 0.5rem;
}


.try{
    width: 100%;
    height: 22vh;
    border: solid black 1px;
}

.basket-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
}

.basket-card {
  padding: 1rem;
}

:host ::ng-deep .basket-card .p-card {
  min-height: 220px;
}

:host ::ng-deep .basket-card .p-card-title {
  font-size: 1.4rem;
}

:host ::ng-deep .basket-card .p-card-subtitle {
  font-size: 1.2rem;
}
.p-button-secondary{
  border-radius: 3px;
  border: 0.5px solid black;
  background-color: #b7a27a;
  color: white;
}

.mb-1{
  font-size: 1.2rem;
  font-weight: 600;
}

.basket-img{
  border-radius: 8px;
  height: 100%;
}
