.sidebar {
  width: 15vw;
  background: #f5f5f5;
  padding: 20px;
  direction: rtl;
  font-family: Arial, sans-serif;
  border-left: 1px solid #ddd;
}

.category-header h3 {
  margin: 0 0 20px 0;
  font-weight: bold;
}

.add-category {
  display: flex;
  align-items: center;
  gap: 10px;
  background: white;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.add-btn {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background: white;
  font-size: 18px;
  cursor: pointer;
}

.price-section {
  margin-bottom: 20px;
}

.price-section label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.price-range {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 600;
}

input[type="range"] {
  width: 100%;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.clear-btn,
.filter-btn {
  flex: 1;
  padding: 8px;
  border: 1px solid black;
  background: white;
  cursor: pointer;
}

.filter-btn:hover {
  background: black;
  color: white;
}

.section-title {
  margin-top: 30px;
  font-weight: bold;
}

.inputTxt{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
}