<div class="all">
  <div class="header-container">
    <div class="top-bar">
      <div class="icons-section">
        <i class="pi pi-heart" pBadge severity="secondary"></i>
        <a routerLink="/basket"><i class="pi pi-shopping-cart" pBadge severity="secondary"></i></a>
        <i class="pi pi-user" pBadge severity="secondary"></i>
      </div>

      <div class="logo-section">
        <img src="../../../assets/images/foodApeal.png" alt="Food Appeal" height="60">
      </div>

      <div class="search-section">
        <span class="p-input-icon-left">
          <a *ngIf="!currentUser()" routerLink="/auth"><div class="auth">לחיבור / הרשמה</div></a>
          <div class="user-name" *ngIf="currentUser() as user">שלום, {{ user.firstName }} {{ user.lastName }}</div>
          <!--<i class="pi pi-search"></i>-->
          <!--<input type="text" pInputText placeholder="הכנס מילות חיפוש" />-->
          <div class="ttt"><a routerLink="/product-form">add product</a></div>
          <a routerLink="/product-edit/5">edit product</a>
        </span>
      </div>
    </div>
    <p-menubar [model]="items" class="main-menu"></p-menubar>
  </div>
</div>