.all{
  padding: 0;
  margin: 0;
}

.header-container {
    direction: rtl; 
    font-family: sans-serif;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1000;
    margin-top: 0;
    padding-top: 0;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    direction: ltr;
  }
  
  .icons-section i {
    font-size: 1.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
  }
  
  .main-menu{
    font-size: 22px;
    text-align: center;
    align-content: center;
    align-items: center;
  }

  .pi{
    font-size: 40px;
  }

  .p-input-icon-left{
    display: flex;
    align-items: center;
    direction: rtl;
    gap: 5px;
  }

  .p-menubar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  } 

  :host ::v-deep .main-menu {
    .p-menubar {
      justify-content: center;
      border: none;
      align-items: center;
      background: transparent;
      
      .p-menuitem-link {
        .p-menuitem-text {
          font-weight: bold;
          color: #333;
        }
      }
    }
}