.line{
    width: 100%;
}

h2{
    direction: rtl;
    padding-top: 25vh;
}

img{
    width: 100%;
    height: auto;
}

@media (max-width: 1024px) {
    h2{
        padding-top: 30vh;
    }
}

@media (max-width: 480px) {
    h2{
        padding-top: 20vh;
    }
}   